body{
    background-color: #222f3e;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 30vw;
    background: rgb(82, 198, 230);
    border-radius: 5px;
    font-family: "dancing script", cursive;
    overflow: hidden;
    color: #797d7f;
    letter-spacing: 0.5px;
    display: grid;
    place-items: center;
}

.inner{
    position: absolute;
    height: 100%;
    width: 80%;
    opacity: 1;
    -webkit-transition:1s;
    transform: 1s;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 70%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}

.number::before{
    content: "";
    position: absolute;
    background: #242222;
    top: -15px;
    right: -5px;
    width: 30px;
    height: 55px;
    background: var(--secondery-color);
    -webkit-transform:rotate(-45deg) ;
    transform: rotate(-45deg);
    z-index: -1;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
}
.number{
    font-family: var(--sans);
    position: absolute;
    margin: 0;
    top: 15px;
    right: 15px;
    color: rgba(172, 19, 19, 0.7);
}
 .img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: -25px;
    top: -7px;
    cursor: pointer;
    animation: rot 1s linear;
}

.number:hover .img{
    animation:rot 1s linear;
}

@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: (360 deg);
    }
}

.quote{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* font-size: 2rem; */
}
.start-quote{
    font-size: 8rem;
    opacity: 0.5;
    z-index: -3;
}


.auther{
    position: absolute;
    top: 50%;
    left: 80%;
}

.button{
    position: absolute;
    top: 78%;
    left: 0%;
    background: #4807eb;
    width:100%;
    text-align: center;
    cursor: pointer;
}