body{
    background-color: #222f3e;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 70vw;
    background: var(--main-color);
    border-radius: 5px;
    font-family: "dancing script", cursive;
    overflow: hidden;
    color: #797d7f;
    letter-spacing: 0.5px;
    display: grid;
    place-items: center;
}

.inner{
    position: absolute;
    height: 100%;
    width: 80%;
    opacity: 1;
    -webkit-transition:1s;
    transform: 1s;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 70%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}

.number::before{
    content: "";
    position: absolute;
    top: -130px;
    right: 30px;
    width: 90px;
    height: 200px;
    background: var(--secondery-color);
    -webkit-transform:rotate(-45deg) ;
    transform: rotate(-45deg);
    z-index: -1;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
}
.number{
    font-family: var(--sans);
    position: absolute;
    margin: 0;
    top: 15px;
    right: 15px;
    color: rgba(255, 255, 255, 0.7);
}
.number img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: -25px;
    
}
