* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(202, 197, 197);
    height: 53px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 484px;
    margin: auto;
}

.button {
    border: 2px solid rgb(15, 7, 7);
    background-color: #989797;
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    /* padding-top: 150px; */
}

.head1 {
    text-align: center;
    background-color: rgb(9, 9, 9);
    color: beige;
    width: 484px;
    margin: auto;
    padding-bottom: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(82, 101, 101);
    color: black;
    transition: 0.3s ease-in;
}

.navbar a {
    text-decoration: none;
    color: #040404;
}

#wrapper {
    text-align: center;
    align-items: center;
    background-color: #2b2a2a;
    color: aliceblue;
    margin: auto;
    padding: 10px;
    width: 465px;
    height: 100%;
    /* margin-top: 40px; */
}

.main-conntainer {
    width: 490px;

}

.form {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding: 12px;
    margin: 12px;
}

.form label {
    margin: 12px;
    font-size: 34px;
}

.form input {
    font-size: 34px;
    border: 4px solid rgb(89, 87, 87);
}

#subt {

    border-radius: 24px;
    /* width: 200px; */
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 24px;
    font-size: 18px;
}